{
  "presets": ["env", "stage-0", "react", "flow"],
  "plugins": [
    "transform-object-assign",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "start": {
      "presets": ["react-hmre"]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
