<!DOCTYPE html>
<html lang="en" class="noIE">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>JW React Workflow</title>
  <meta name="description" content="Personal React Redux Boilerplate">
  <meta name="keywords" content="">
  <link rel="canonical" href="https://github.com/jwoo92/react-workflow" />
</head>

<body>
  <div id="app"></div>
  <%=htmlWebpackPlugin.files.webpackManifest%>
</body>
