@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

html,
body,
p,
a,
input,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primaryColor;
  font-family: $primary;
  font-weight: 400;
}

a {
  transition: $dTransition;
}

html,
body {
  background: $bodyBG;
}

input,
textarea,
select {
  background: $solidWhite;
  font-family: $primary;
  font-size: 16px;
}

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 580px) {
}

@media screen and (max-width: 480px) {
}
