// ------------------
//  GENERAL
// ------------------

$white: #F0F0F0;
$black: #020202;
$solidWhite: #FFFFFF;
$solidBlack: #000;

$primaryColor: $black;
$secondaryColor: $white;

$bodyBG: $solidWhite;

// ------------------
//  NAV
// ------------------

$navBG: $black;

// ------------------
//  NAV MOBILE
// ------------------

$mNavBG: $black;

// ------------------
//  FOOTER
// ------------------

$footerBG: $black;
